/* 

Palette for MneMonocle:

GREEN color: #009C98; 
RED color: #E4395B;
PEACH  color: #E5B395;
SILVER  color: #E7EEF1;
YELLOW  color: #FEEED6;
*/


* {
    font-family: "Space Mono", monospace;
    box-sizing: border-box;
}

body {
    color: #009C98;
    background: #fff;
}
section {
    height: 40vh;
}
section#home {
    background: radial-gradient(ellipse farthest-corner at right bottom, #E5B395 0%, #FEEED6 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #bff2f1, #ab9283 8%, #E7EEF1 25%, #9b8c84 62.5%, #161208 100%);
}
h2 {
    background-color: #FFF;
    padding: 0.10em;
}
section#content {
    color: #E4395B;
    background-color: #E5B395;
}
section#about {
    background-color: #E7EEF1;
}
img {
    max-width: 30%;
}
.container {
    background:#009C98;
    margin: auto;
}
ul {
    list-style-type: none;
}
.case,
figcaption {
    margin: auto;
}
div#cover {
    margin: auto;
    width: 18em;
    height: 24em;
    background-color: darkslategrey;
}
.dot {
    color: #FFF;
    padding: 8px;
    margin: 4px;
    background-color: #009C98;
    border-radius: 2px;
}
header, 
footer {
    color: #FFF;
    width: 100%;
    background-color: #009C98;
    text-align: center;
}